$body-color: #fff;
$text_color: #1c2347;
$nav_text_color: #ffffff;
$h1_fsz: 72px;
$h1_descr_text_fsz: 34px;
$section_text_fsz: 60px;
$sm_text_fsz: 15px;
$sm_text_opacity: 0.6;
$item_title_fsz: 20px;
$h1_descr_color: #fefefe;
$header_bg_color: #07496f;