.prices{
  &__items-list{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    display: flex;
    flex-direction: column;
    width: 336px;
    padding: 0 45px;
  }
  &__decor-list{
    display: flex;
    justify-content: space-around;
  }
  &__decor-item{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
