.recalls{
  &__slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__control{
    width: 15px;
    height: 30px;
    display: block;
  }
  &__slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 590px;
    margin: 40px 0;
  }
  &__slide-text{
    opacity: $sm_text_opacity;
    color: $text_color;
    font-family: 'Roboto';
    font-size: $sm_text_fsz;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-align: center;
  }
  &__slide-person{
    color: $text_color;
    font-family: 'Roboto';
    font-size: $sm_text_fsz;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.75px;
  }
  &__slide-company{
    opacity: $sm_text_opacity;
    color: $text_color;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.6px;
  }
}
