.social{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  &__link{
   
    &--skype{
    width: 26px;
    height: 26px;
    background-image: url("../img/skype.png");
    background-size: cover;
    }
    &--facebook{
      width: 26px;
      height: 26px;
      background-image: url("../img/facebook.png");
    }
    &--vk{
      width: 35px;
      height: 26px;
      background-image: url("../img/vk.png");
    }
  }
  
}